

body{
    
    border:10px solid grey;
    font-size:25px;
}
.hi{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9cUSEe1tCJy16f_ukS5BBh-NgfGVe32iJOw&usqp=CAU");
    background-size:cover;
   
    
    
}




.html{
    border:5px solid black;
    width:560px;
    height:750px;
    font-size:16px;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9cUSEe1tCJy16f_ukS5BBh-NgfGVe32iJOw&usqp=CAU");
}
.image
{
   
   height:250px;
    width:25px;
    display:flex;
    text-align:center;
    align-items:center;
}
img{
    width:200px;
     height:200px;
    border-radius: 50%;}
    
.new{
    display:flex;
    justify-content:center;

}